// typography

h1,
.h1 {
	font-size: 3.052rem
}

h2,
.h2 {
	font-size: 2.441rem;
}

h3,
.h3 {
	font-size: 1.953rem;
}

h4,
.h4 {
	font-size: 1.563rem;
}

h5,
.h5 {
	font-size: 1.25rem;
}

small,
.text_small {
	font-size: 0.8rem;
}

// styling

.btn {
	padding: .6rem .8rem;
	border-radius: .5rem;
}